<div class="border-1 border-gray-200 rounded-xl">
    <div class="p-4 max-w-lg mx-auto rounded-xl space-y-4">
      <div class="flex gap-3 my-2">
        <h2 class="font-bold text-3xl">Delivery</h2>
        <svg class="w-10 h-10 text-green-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="none" viewBox="0 0 24 24">
           <path stroke="currentColor" strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
         </svg>
         
    </div>
      <h2 class="text-gray-700 font-xl tracking-wide font-semibold">Mobile Entry - Free</h2>
      <p class="font-normal text-gray-500">
        Tickets Availabe by Thur Jan 30, 2024
      </p>
      <p class="font-normal text-gray-500">These mobile Tickets will be transferred directly to you from a trusted seller. We'll email you instructions on how to accept them on the original ticket provider's mobile app.</p>
    </div>
  </div>